.size-full {
	display: none;
	overflow: hidden;
}

#content ul li, #content ol li, .widget ol li, .widget ul li, #content ul, #content ol, #content th {
    font-family: Open Sans !important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 27px;
}

#toc_container a {
    text-decoration: none;
    text-shadow: none;
    font-family: Open Sans;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.site-header a, .site-header a:visited {
      color: #fff !important;
	    padding-top: 0px;
	    padding-bottom: 0px
}

.site-header {
    color: #fff;
    background-image: -webkit-linear-gradient(-30deg, #00004d 0%, #5333ed 49%, #2cd4d9 100%);
}

.inside-header {
	padding: 15px;
}

.main-navigation, .main-navigation ul ul {
    background-color: #6b0d0d00 !important;
}

.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    color: #ffffff;
    background-color: rgba(255,255,255,0);
}



.main-navigation .main-nav ul li[class*="current-menu-"] > a:hover {
	background-color: #3f3f3f00;
}

body {
	background-color: #fff;
	color: #222;
}
.main-title {
    font-weight: 500;
    font-size: 30px;
    font-family: Questrial;
    margin-top: 5%;
}

.separate-containers .inside-article {
     margin-top: -4%;	
}

@media (min-width: 1025px) {
.grid-25 {
    width: 25%;
    margin-top: -2%;
}
}
.sidebar .widget .widget-title {
    font-size: 15px;
    border-radius: 3px 3px 2em;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    background: #141526;
    color: #FFF;
    padding: 5px 10px;
}

.main-navigation .main-nav ul li:hover > a, .main-navigation .main-nav ul li:focus > a, .main-navigation .main-nav ul li.sfHover > a {
    color: #ffffff;
    background-color: #0e050500;
}

.footer-widgets {
	background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

.widget-title, h3 {
    font-size: 20px;
    border-bottom: 2px solid white;
}

.main-navigation .main-nav ul li[class*="current-menu-"] > a {
    background-color: rgba(4, 61, 95, 0.59) !important;
}

.footer-bar-align-right .copyright-bar {
    float: inherit;
    font-size: 18px;
}

.footer-widgets .widget-title {
    color: #ffffff!important;
}

body.home.page-template-default.page.page-id-45.featured-image-active.right-sidebar.nav-float-right.fluid-header.separate-containers.active-footer-widgets-3.nav-aligned-left.header-aligned-left.dropdown-hover {
    overflow-x: hidden;
}
